@page "/bugworld"
<PageTitle>BugWorld</PageTitle>

<h1>Bug World Game</h1>
<h6>
    A group of friends and I decided to build an
    idle game utilizing bugs to collect resources and interact with their environment.
    We wanted to practice using Java and Object Oriented Programming techniques as a team.
</h6>
<br />
<video controls="controls" width="699" height="352" name="Bug World Demo">
    <source src="/assets/BugWorld.mp4" type="video/mp4">
</video>
<br />
<!-- Actual size of mov, w1398 × h704 ( .5 x size)-->
<a href="https://github.com/broadbr/bugWorld1">Github Repository</a>
<p>Tools: Java, Java Swing and AWT, itch.io assets </p>
