@page "/excelbadge"
<PageTitle>Computer Science - Excellence Badge</PageTitle>

<h1>Computer Science - Excellence Badge</h1>
<h6>
    The Computer Science Excellence Badge was awarded to Fulton Montgomery Community College Graduates who were
able to achieve an A or higher in the introductory Computer Science Classes, and Data Structures.
Linked below is the Credly link, with more detail on what badge means.
</h6>
<br />
<a href="https://www.credly.com/badges/927bb68f-4145-4e54-9dca-221eee3fd229/linked_in_profile">Credly</a>
<p>Tools: Java</p>
