@page "/javabat"
<PageTitle>Javabat</PageTitle>

<h1>Javabat</h1>
<h6>
    Javabat is a coding problem site defined by the creator as testing aptitude for the first two
    Computer Science Classes one would take during a Compsci education. Attached are screenshots showing the
    completion of these problems.  
</h6>
<br />
<video controls="controls" width="699" height="352" name="Bug World Demo">
    <source src="/assets/BugWorld.mp4" type="video/mp4">
</video>
<br />
<a href="https://github.com/broadbr/bugWorld1">Github Repository</a>
<p>Tools: Java, and Python </p>
