@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, my name is Colin.</h1>
<p>I'm an aspiring software engineer...</p>
<p>I have a love of all things IT, from programming to networking my interests are unbounded.</p>
<p>My ambition is to find a job I can hone my problem solving, work as hard as possible and know as much as possible</p>
<a href="https://www.linkedin.com/in/colin-swain-b2343617a">LinkedIn</a>



