@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, my name is Colin.</h1>
<p>I’m an aspiring software engineer studying Computer Science with a Math minor at SUNY Polytechnic</p>
<p>I have a love of all things IT, from programming to networking my interests are unbounded.</p>
<a href="https://www.linkedin.com/in/colin-swain-b2343617a">LinkedIn</a>
<h6>Email: colin.swain123@icloud.com</h6>



