@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome, my name is Colin!</h1>
<p>I’m an aspiring software engineer studying Computer Science with a Math minor at SUNY Polytechnic</p>
<p>I'm a senior graduating in May 2025, I enjoy the problem solving and the complexity in advanced software apps</p>
<a href="https://www.linkedin.com/in/colin-swain-b2343617a">LinkedIn</a>
<a href="https://github.com/ColinSwain">GitHub</a>
<a href="https://leetcode.com/u/colinmswain/">LeetCode</a>
<h6>Email: colinmswain@gmail.com</h6>



