@page "/projects"

<PageTitle>Projects</PageTitle>

<h1>Projects</h1>

<p>Here's a table of Computer Science Projects I've worked on. Under Link Github will denote a github repo, 
    otherwise it will take you to another page on this website which will explain the project in further 
    detail.
     </p>

@*  Improvements:
    Potential to integrate Database
    Need CSS to look better 
    Notes:
    Bootstrap CSS overides css, solution is 
     *@
<table id="overtable">
    <tr>
        <th>Project</th>
        <th>Description</th>
        <th>Tools</th>
        <th>Link</th>
    </tr>
    <tr>
        <td>Resume Site</td>
        <td>Showcase accomplishiments</td>
        <td>Blazor,HTML,CSS</td>
        <td><a href="https://github.com/ColinSwain/resumesite">Github</a></td>
    </tr>
    <tr>
        <td>BugWorld</td>
        <td>Idle game</td>
        <td>Java,Java Swing/AWT</td>
        <td><a href="./bugworld">Bugworld page</a></td>
    </tr>
    @* <tr>
        <th>Javabat</th>
        <th>Coding Problems</th>
        <th>Java</th>
        <th><a href="./javabat">Javabat page</a></th>
    </tr> *@
    
</table> 


