@page "/projects"


<PageTitle>Projects</PageTitle>

<h1>Bug World Game</h1>
<h6>
    As a part of project management class myself and three peers created an
    idle game utilizing bugs to collect resources and interact with their environment.
</h6>
<br />
<video controls="controls" width="699" height="352" name="Bug World Demo">
    <source src="/assets/BugWorld.mp4" type="video/mp4">
</video>
<br />
<!-- Actual size of mov, w1398 × h704 ( .5 x size)-->
<a href="https://github.com/broadbr/bugWorld1">Github Repository</a>
<p>Tools: Java, Java Swing and AWT, itch.io assets </p>

